h1, img, h2, p, ul, ol, .links-list{
    box-sizing: border-box;
    outline: 2px solid rgb(157, 196, 1);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}
.debug{
    border: 2px dashed green;
}

.image{
    width: 50%;
    margin-left: 10px;
}
.ingredients-list, .steps-list, .lasagna-1, .lasagna-2{
    padding: 10px;
}
.ingredients-list, .steps-list{
    list-style-type: square;
}
.ingredients, .steps{
    margin: 5px auto;
}
.links-list{
    padding: 0px;
}

#go-to-top, #go-to-home{
    margin: 15px auto;
    padding: 0px;
}